@model IEnumerable<ModelTrial.Models.Event>

@{
    ViewData["Title"] = "Tickets";
}
@section customCSS{
    <link rel="stylesheet" href="~/css/search.css" />
}

<h1>Tickets</h1>

@if (Model.Any())
{
    <div class="search-results">
        @foreach (var item in Model)
        {
        <a asp-action="Details" asp-route-id="@item.Id" asp-controller="Events">
            <div class="result">
                <div class="result-desc col-8">
                    <h2 class="title">@Html.DisplayFor(modelItem => item.Title)</h2>
                    <p class="time">@Html.ValueFor(modelItem => item.Date, "{0:ddd, dd MMMM yyyy}")</p>
                    <p class="location">@Html.DisplayFor(modelItem => item.Location)</p>
                </div>
                <div class="result-img col-4 mt-1">
                    <img class="img-fluid" src="@Html.DisplayFor(modelItem => item.ImageUrl)" alt="">
                </div>
            </div>
        </a>
        }
    </div>

}
            else
            {
                <div class="search-results text-center">
                    <h4 class="title mt-5">No Ticket. <a href='@Url.Action("Index", "Home")#events'>Register</a> for an event.</h4>
                </div>
            } 